   .fix-box{

      text-align: center;

      bottom:5px;

      position:fixed;

      z-index:100;

   }
   
      .fix-box2{

      text-align: center;

     top:5px;

      position:fixed;

      z-index:100;

   }
